html {
	box-sizing: border-box;
}

*, ::before, ::after {
	box-sizing: inherit;
}

body {
	font-family: 'Georgia', serif;
	margin: 0em;
}

.masthead {
background-image: url("../images/logo.svg");
background-size: 75px auto;
padding: 6em;
background-repeat: no-repeat;
background-position: center 25px;
text-align: center;
color: #3b3a33;
}

img {
	width: 100%;
	margin: 0em;
	padding: 0em;
	text-align: center;
	display: block;
}

div {
	background-color: #3b3a33;
	padding: 1em;
	margin: 0em;
	text-align: center;
}

.button {
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 1em;
	border-radius: 10px;
	background-image: linear-gradient(to bottom, #a8ae98, #5b5e52);
}
